@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Alkatra", cursive;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --w-mode-bg-color: #fff;
  --w-mode-second-bg-color: #eeeeee;
  --w-mode-text-color: #1f242d;
  --main-color: #00eeff;
  --w-mode-main-color: #00abb8;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
html body.white-mode {
  background-color: var(--w-mode-bg-color);
  color: var(--w-mode-text-color);
}
html body.white-mode .btn {
  background-color: var(--w-mode-main-color);
  box-shadow: 0 0 1rem var(--w-mode-main-color);
  color: var(--w-mode-bg-color);
}
html body.white-mode .heading span {
  color: var(--w-mode-main-color);
}
html body.white-mode .header {
  background-color: var(--w-mode-bg-color);
}
html body.white-mode .header #menu-icon {
  color: var(--w-mode-text-color);
}
html body.white-mode .header_logo {
  color: var(--w-mode-text-color);
}
html body.white-mode .header_navbar a {
  color: var(--w-mode-text-color);
}
html body.white-mode .header_navbar a input {
  border: 2px solid var(--w-mode-text-color);
}
html body.white-mode .header_navbar a:hover, html body.white-mode .header_navbar a.active {
  color: var(--w-mode-main-color);
}
html body.white-mode .home {
  padding: 7rem 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body.white-mode .home_content h3 span {
  color: var(--w-mode-main-color);
}
html body.white-mode .about {
  background-color: var(--w-mode-second-bg-color);
}
html body.white-mode .services_container_box {
  background-color: var(--w-mode-second-bg-color);
  border: 0.2rem solid var(--w-mode-bg-color);
}
html body.white-mode .services_container_box i {
  color: var(--w-mode-main-color);
}
html body.white-mode .services_container_box:hover {
  border-color: var(--w-mode-main-color);
}
html body.white-mode .portfolio {
  background-color: var(--w-mode-second-bg-color);
}
html body.white-mode .portfolio_container_box {
  box-shadow: 0 0 1rem var(--w-mode-bg-color);
}
html body.white-mode .portfolio_container_box_layer {
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--w-mode-main-color));
}
html body.white-mode .portfolio_container_box_layer h4 {
  color: var(--w-mode-main-color);
  text-shadow: 0 0 1rem var(--w-mode-bg-color);
}
html body.white-mode .portfolio_container_box_layer a {
  background: var(--w-mode-text-color);
}
html body.white-mode .portfolio_container_box_layer a i {
  color: var(--w-mode-second-bg-color);
}
html body.white-mode .contact_container_box {
  background-color: var(--w-mode-second-bg-color);
  border: 0.2rem solid var(--w-mode-bg-color);
}
html body.white-mode .contact_container_box i {
  color: var(--w-mode-main-color);
}
html body.white-mode .contact_container_box:hover {
  border-color: var(--w-mode-main-color);
}
html body.white-mode .footer {
  background: var(--w-mode-second-bg-color);
}
html body.white-mode .footer_iconTop a {
  background-color: var(--w-mode-main-color);
}
html body.white-mode .footer_iconTop a:hover {
  box-shadow: 0 0 1rem var(--w-mode-main-color);
}
html body.white-mode .footer_iconTop a i {
  color: var(--w-mode-second-bg-color);
}
html body.white-mode .switch .slider::before {
  background-color: #000;
}
html body #loom-companion-mv3 {
  display: none;
}
html body .btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}
html body .btn:hover {
  box-shadow: none;
}
html body .heading {
  font-size: 4.5rem;
  font-weight: 700;
}
html body .heading span {
  color: var(--main-color);
}
html body .header {
  padding: 2rem 9%;
  position: fixed;
  padding: 2rem 9%;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
html body .header .sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}
html body .header #menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}
html body .header_logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}
html body .header_navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
}
html body .header_navbar a:hover, html body .header_navbar a.active {
  color: var(--main-color);
}
html body .header_navbar a input {
  border-radius: 10%;
  width: 20px;
  height: 20px;
  border: 2px solid var(--text-color);
  cursor: pointer;
}
html body .header_navbar a input[type=color] {
  -webkit-appearance: none;
}
html body .header_navbar a input[type=color]:hover {
  opacity: 0.7;
}
html body .header_navbar a input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}
html body .header_navbar a input[type=color]::-webkit-color-swatch {
  border: none;
}
html body section {
  padding: 2rem 9%;
}
html body .home {
  padding: 7rem 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .home_content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
html body .home_content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
html body .home_content h3 span {
  color: var(--main-color);
}
html body .home_content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
html body .home_content p {
  font-size: 1.6rem;
}
html body .home_social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5 ease;
}
html body .home_social-media a:hover {
  background-color: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}
html body .home_img {
  z-index: -999;
  position: relative;
}
html body .home_img_gradient-1 {
  background: linear-gradient(90deg, var(--main-color) 0%, var(--main-color) 100%);
  filter: blur(900px);
  width: 40%;
  height: 35%;
  z-index: 0;
  top: 0px;
  position: absolute;
  scroll-behavior: smooth;
}
html body .home_img_gradient-2 {
  background: var(--main-color);
  filter: blur(750px);
  width: 60%;
  height: 60%;
  z-index: 0;
  bottom: 10rem;
  position: absolute;
  scroll-behavior: smooth;
  border-radius: 9999px;
}
html body .home img {
  width: 35vw;
  animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
html body .about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--second-bg-color);
}
html body .about_img {
  z-index: 1;
}
html body .about img {
  width: 30vw;
}
html body .about_content {
  z-index: 99;
}
html body .about_content h2 {
  text-align: lef;
  line-height: 1.2;
}
html body .about_content h3 {
  font-size: 2.6rem;
}
html body .about_content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}
html body .services h2 {
  margin-bottom: 5rem;
}
html body .services_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
html body .services_container_box {
  flex: 1 1 30rem;
  background-color: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
}
html body .services_container_box i {
  font-size: 7rem;
  color: var(--main-color);
}
html body .services_container_box h3 {
  font-size: 2.6rem;
}
html body .services_container_box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}
html body .services_container_box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
  cursor: pointer;
}
html body .portfolio {
  background-color: var(--second-bg-color);
}
html body .portfolio h2 {
  margin-bottom: 4rem;
  text-align: center;
}
html body .portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}
html body .portfolio_container_box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
  min-height: 310px;
}
html body .portfolio_container_box:hover img {
  transform: scale(1.1);
}
html body .portfolio_container_box:hover div {
  transform: translateY(0);
}
html body .portfolio_container_box img {
  width: 100%;
  transition: 0.5s ease;
  -o-object-fit: cover;
     object-fit: cover;
}
html body .portfolio_container_box_layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}
html body .portfolio_container_box_layer h4 {
  font-size: 3rem;
  color: var(--main-color);
  text-shadow: 0 0 1rem var(--bg-color);
}
html body .portfolio_container_box_layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}
html body .portfolio_container_box_layer a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}
html body .portfolio_container_box_layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}
html body .contact h2 {
  margin-bottom: 5rem;
}
html body .contact_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
html body .contact_container_box {
  flex: 1 1 30rem;
  background-color: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
}
html body .contact_container_box i {
  font-size: 7rem;
  color: var(--main-color);
  animation: floatImage 3s ease-in-out infinite;
  transition: 0.5s ease;
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}
html body .contact_container_box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
  cursor: pointer;
}
html body .contact_container_box:hover i {
  animation: none;
  transform: scale(1.2);
}
html body .footer {
  display: flex;
  padding: 2rem 9%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: var(--second-bg-color);
}
html body .footer_text p {
  font-size: 1.6rem;
}
html body .footer_iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background-color: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}
html body .footer_iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}
html body .footer_iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}
html body .switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 22px;
}
html body .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
html body .switch input:checked {
  background-color: var(--main-color);
}
html body .switch input:focus {
  box-shadow: 0 0 1px var(--main-color);
}
html body .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  background-color: var(--main-color);
  box-shadow: 0 0 1px var(--main-color);
}
html body .switch .slider.round {
  border-radius: 34px;
}
html body .switch .slider.round::before {
  border-radius: 50%;
}
html body .switch .slider::before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  transition: 0.4s;
}
html body input:checked + .slider:before {
  transform: translateX(14px);
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 991px) {
  html body .header {
    padding: 2rem 3%;
  }
  html body .home {
    padding: 10rem 3% 5rem;
  }
  html body section {
    padding: 7rem 3% 2rem;
  }
  html body .services {
    padding-bottom: 7rem;
  }
  html body .portfolio {
    padding-bottom: 7rem;
  }
  html body .footer {
    padding: 2rem 3%;
  }
}
@media (max-width: 768px) {
  html body.white-mode .header_navbar {
    background: var(--w-mode-bg-color);
  }
  html body .header_navbar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
  html body .header_navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  html body .header_navbar.active {
    display: block;
  }
  html body .header #menu-icon {
    display: block;
  }
  html body .home {
    flex-direction: column;
  }
  html body .home_content h3 {
    font-size: 2.6rem;
  }
  html body .home_content h1 {
    font-size: 5rem;
  }
  html body .home img {
    width: 70vw;
    margin-top: -10rem;
  }
  html body .about {
    flex-direction: column-reverse;
  }
  html body .about img {
    width: 70vw;
    margin-top: -10rem;
  }
  html body .services h2 {
    margin-bottom: 3rem;
  }
  html body .portfolio h2 {
    margin-bottom: 3rem;
  }
  html body .portfolio_container {
    grid-template-columns: repeat(2, 1fr);
  }
  html body .portfolio_container_box {
    min-height: 255px;
  }
}
@media (max-width: 617px) {
  html body .portfolio_container {
    grid-template-columns: 1fr;
  }
  html body .portfolio_container_box {
    min-height: initial;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  html body .footer {
    flex-direction: column-reverse;
  }
  html body .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}/*# sourceMappingURL=style.css.map */